language: python

python:
    -"2.7"

env:
    - TOXENV=py26
    - TOXENV=py27
    - TOXENV=py32
    - TOXENV=py33
    - TOXENV=py34

install:
    - pip install -r requirements-dev.txt

script: make test
